.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh;
  height: 80vh;

  .spaceship-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;

    img {
      width: 20vw;
      pointer-events: none;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

.background-image {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.route-area {
  width: 30vw;
}