.start-page-content {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;

  .emoji {
    width: 12vw;
  }

  .logo {
    height: 14vh;
  }

  .start-page-text {
    margin: 3vh 0 10vh 0;
    width: 50vw;
  }
}